
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>About<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            <img src="images/about_banner.jpg" alt="" />
            <p>Merhaba,ben Erciye Üniversitesinin 1030520674 nolu öğrencisi Berfin Atar. Üniversite öğrenciliğim boyunca çeşitli kulüplerde yer aldım. Ve kendimi geliştirmek için uğraştım. </p>
            <p>Visual Studio platformunda C# ‘a giriş niteliğinde geniş çaplı bir Hastane Otomasyon sistemidir. Bu proje kayıt alma, kayıt silme,kayıt güncelleme gibi çeşitli fonksiyonları gerçekleştirmektedir. Bunun yanında Hasta Bilgileri alma, sorgulama,listeleme gibi fonksiyonları da gerçekleştirmektedir.</p>
            <p>Bir diğer projem ise Eczane Veri Tabanı Sistemi.Eczanelerin çalışma sistemleri araştırılarak hazırlanmış geniş çaplı bir veri tabanıdır. Birden fazla şehirde ve bu şehirlerin ilçelerinde olan bir eczane zincirinin veri tabanı tasarlanırken ise Microsoft Access Database kullanılmıştır. </p>
            <p>Artı olarak turizm acentesi için geliştirilecek projenin analizini yaparak iş akış modellerini tasarladım. Bu projede bir turizm acentasının yaptığı işleri bilgisayar ortamında yapabilmesi için tasarlanmıştır. Turizm acentası ile görüşülmüş ve ihtiyaçlarına göre gerekli gereksinim iş akışı, analiz iş akışı,tasarım iş akışı ve gerçekleştirim iş akışı modellenmiştir.</p>
        </div>
    </div>
</div>
</h2>

